<!DOCTYPE html>
  <head>
    <title>Submit Dice</title>
  </head>

  <h1>Welcome to the Dice Roll</h1>
  <body>
    <form action="/process_roll">
      <label for="dice_id">Number of Dice</label>
      <input id="dice_id" name="dice" type="text">
      <label for="side_id">Number of Sides</label>
      <input id="side_id" name="sides" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
  </html>
